* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-text {
    color: white;
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 600px;
    height: 600px;
    background-color: #434242;
    margin: auto;
    border: 1px #F3EFE0 solid;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px #F3EFE0 solid;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'Amatic SC', cursive;
    color: #22A39F;
}

#restart {
    color: #c1d1e2;
    background-color: black;
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Tilt Prism', cursive;
    margin-top: 2rem;
    outline: none;
    border: 2px #c1d1e2 solid;
    cursor: pointer;
    transition-property: color, border-color;
    transition-duration: 0.3s;
}

#restart:hover {
    color: #92cbe2;
    border-color: #92cbe2;
}

.blue {
    background-color: deepskyblue;
}